html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1; font-family: Geneva;}
h1{font-size: 25px;}h2{font-size: 21px;}h3{font-size: 18px;}h4{font-size: 16px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #fff;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body {
	background-color: #FFFFFF;
}

header {
    background: #EEEEEE;
    padding: 20px 30px;
    max-width: 1200px;
    margin: auto;
}

header div {
    color: #000000;
}

nav {
    display: inline-block;
    margin: right;
}
nav ul li a {
    background: #03008F;
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
    color: #FFFFFF;
    border-radius: 0px;
    border-style: solid;
    border-color: #EEEEEE;
}

nav ul li a:hover {
    background: #FFFFFF;
    color: #03008F;
    border-style: solid;
    border-color: #03008F;
}
nav ul li {
    display: inline-block;
     margin: 20px 20px 20px 20px;
}
nav ul {
    list-style: none;
    margin: 20px 20px 20px 100px;
}
#pageContent {
    max-width: 1200px;
    margin: auto;
    border: none;
}
main {
	float: left;
	width: 100%;
	background: #FFFFFF;
}
article aside {
	float: right;
	width: 30%;
}
article {
    float:left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
     border-bottom: 2px dotted #999;
}
article h2 {
    font-weight: normal;
    margin-bottom: 12px;
    width: 60%;
    float:left;
}
article p {
    float: left;
    width: 60%;
}

article p a:link {
     text-decoration: none;
    color: #03008F;
}

article p a:visited {
     text-decoration: none;
    color: #03008F;
}

article p ul {
     display: inline-block;
}



footer {
	background: #EEEEEE;
	max-width: 1200px;
	margin: auto;
	padding: 20px 20px;
	text-align: left;
	float: center;
}


address {
    text-decoration: none;
    font-style: normal;
    padding: 10px 20px 30px 10px;
    color: #000000;
}

address a:link {
    text-decoration: none;
    color: #03008F;
}

strong a:link {
    text-decoration: none;
    color: #03008F;
}

aside > div {
	margin: 10px auto;
	background: #FFFFFF;
	min-height: 100px;
}

aside img {
    width:300px;
}
#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 20px;
    color: #000000;
}
#logo img {
    width: 100px;
    vertical-align: middle;
    margin-right: 100px;
}
body > section {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0px;
    border-bottom: 1px solid #999;
    color: #333;
}

@media screen and (max-width: 1000px) {
	body > section {
		padding: 30px 20px;
	}
}
@media screen and (max-width: 600px) {
	main {
		float: none;
		width: 100%;
	}
	aside {
		float: none;
		width: 100%;
	}

}
